body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  gap: 1em;
  align-content: center;
}

.parent {
  margin-left: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  height: 40em;
  max-height: 90vh;
  width: 40em;
}

.child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: lightcoral;
  height: 60%;
  width: 60%;
}
